<% provide :title, t(:product).capitalize %>
<p style="color: green"><%= notice %></p>

<h1><%= t(:products) %></h1>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to t(:show_product), product %>
    </p>
  <% end %>
</div>

<%= link_to t(:new_product), new_product_path %>
