<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  <%= link_to t(:edit_product), edit_product_path(@product) %> |
  <%= link_to t(:back_to_products), products_path %>

  <%= button_to t(:destroy_product), @product, method: :delete %>
</div>
